config MTK_THERMAL_PA_VIA_ATCMD
	bool "Thermal switch for query modem RF temp"
	help
	  Internal switch for thermal management
	  to query modem RF temperature
	  via AT command.
	  (RIL sockets)

config BTS_THERMISTOR
	bool "ntc bts thermistor"
	default n
	help
	  Say Y here if you want to use the external ntc bts thermistor

config AMZN_THERMAL_COOLING
	bool "amzn thermal cooling"
	default n
	help
	  Use this to define what cooling devices to use and register
	  the cooling devices on Amazon platform
